<%- include('../partials/header.ejs', { user }) %>
<div>
<h3>User Information:</h3>
<div>
<h3>Username: <%= user.username %></h3>

<p>Email<%= user.email %></p>
</div>
</div>
<% if (message) { %>
    <p><%= message %></p>
<% } %>


<div>
    <h1 class="favorites">Favorites:</h1>
    <% artwork.forEach(e => { %>
        <div class="art-box">
            <p class="art-artist">Artist: <%= e.artist %></p>
            <p class="art-title">Title: <%= e.title %></p>
            <img class="image" src="<%= e.link %> " alt="<%= e.title %>" />
            <form method="POST" action="/search/<%= e.id %>/?_method=DELETE">
                <button class="art-delete" type="submit">DELETE</button>
            </form>
            <p hidden><a class="art-link" href="/search/<%= e.id %>">link to art</a></p>
        </div>
        <hr />
    <% }) %>
</div>


<p><a href="/social/changePass">Change your password</a></p>

<form method="POST" action="/social/profilex/?_method=DELETE">
    <input type="text" name="id" value="<%= user.id %>" hidden>
    <input type="text" name="username" value="<%= user.username %>" hidden>
    <input type="password" value="<%= user.password %>" name="password" hidden>

    <button type="submit">Delete your account</button>
</form>

<%- include('../partials/footer') %>