<%- include('../partials/header.ejs', { user }) %>

<% if (users) { %>
<div class="profile-welcome">
    <h3  class="profile-welcome-text">Welcome to <%= users.username %>'s page</h3>
</div>

<div>
    <h1 class="favorites">Their Favorites:</h1>
    <% artwork.forEach(e => { %>
        <div class="art-box">
            <p class="art-artist">Artist: <%= e.artist %></p>
            <p class="art-title">Title: <%= e.title %></p>
            <img class="image" src="<%= e.link %> " alt="<%= e.title %>" />
            <p><a class="art-link" href="/search/<%= e.id %>">link to art</a></p>
        </div>
        <hr />
    <% }) %>
</div>

<% } else { %>
    <p>this user does not exist yet!</p>
<% } %>