<%- include('../partials/header.ejs', { user }) %>

<form action="/search">
    <div class="search-bar">
        <input class="search2" id="search" type="text" name="search" value="<%= search %>" />
        
        <button class="button2" type="submit">Search</button>
    </div>
</form>

<div class="results-box">
<% if(result.objectIDs === null) { %>
    <p class="no-results">Whoops! No results for "<%= search %>"</p>
<% }else{ %>
<% result.objectIDs.forEach(e => { %>
    <div>
        <p class="results"><a class="results" href="search/<%= e %>"><%= e %></a></p>
    </div>
<% })} %>
</div>