<%- include('../partials/header.ejs', { user }) %>


<div>
<p><%= item.title %></p>
</div>
<% if (user) { %>
<form action="/search" method="POST" >
   
    <input type="userId" name="userId" value="<%= user.id %>" hidden>
   
    <input type="artist" name="artist" value="<%= item.artistDisplayName %>" hidden>
   
    <input type="title" name="title" value="<%= item.title %>" hidden>
   
    <input type="link" name="link" value="<%= item.primaryImage %>" hidden>


    <button type="submit">Favorite</button>
</form>
<% } %>
<div>
<img class="image" src="<%= item.primaryImage %>" alt="<%= item.title %>">
</div>
<div>
<p><%= item.artistDisplayName %></p>
</div>
<div>
<p><%= item.artistDisplayBio %></p>
</div>
<div>
<p><%= item.objectDate %></p>
</div>


